ci:
  autofix_prs: false

repos:
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort

  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        args:
        - --preview

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
    - id: flake8
      additional_dependencies: [flake8-bugbear]
      exclude: ^tests/b.*

  - repo: https://github.com/rstcheck/rstcheck
    rev: v6.2.0
    hooks:
    - id: rstcheck
